.wrapper div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wrapper {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto  auto auto auto;
    grid-template-rows:auto  auto auto auto auto ;

}
.wrapper div:nth-child(1){

}
.wrapper div:nth-child(2){

}
.wrapper div:nth-child(3){
    grid-column-start:3 ;
    grid-column-end:5;
    grid-row-start:1 ;
    grid-row-end:4 ;
}
.wrapper div:nth-child(4){
    grid-column-start:1 ;
    grid-column-end:3;
    grid-row-start:2;
    grid-row-end:4 ;
}
.wrapper div:nth-child(5){
    grid-column-start:1 ;
    grid-column-end:3;
    grid-row-start:4;
    grid-row-end:6 ;
}
.wrapper div:nth-child(6){
    grid-column-start:3 ;
    grid-column-end:5;
    grid-row-start:4;
    grid-row-end:6 ;
}